body {
    background-color: aqua;
}
#box {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    margin: 40px auto;
    box-sizing: border-box;
    border-radius: 100px;
    padding-top: 80px;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 30px;
}