#main {
    width: 500px;
    height: 500px;
    background-color:azure;
    position: relative;
    margin: 20px auto;
}
#inside {
    width: 480px;
    height: 250px;
    background-color: bisque;
    position: relative;
    left: 10px;
    top: 10px;
}
h1 {
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 25px;
    position: relative;
}
#para {
    margin-top: 300px;
    text-align: center;
    left: 140px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 25px;
    color: cadetblue;
    box-sizing: border-box;
    position: absolute;
}
#para1 {
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 25px;
    color: cadetblue;
    box-sizing: border-box;
    position:absolute;
}
