@keyframes one {
    from { 
    padding: 9px;
    }
    to {
        padding: 15px;
        background: linear-gradient(#fc3,#fc9);
    }
}
body {
    background-color: blanchedalmond;
}
h1 {
    text-transform:uppercase;
    color: rgba(52,36,120,0.55);
}

.button {
    text-decoration: none;
    background: rgba(153, 204, 255,0.55);
    box-sizing: border-box;
    padding: 9px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: monospace;
    color: azure;
    border-radius: 25px;
    
}
.button:hover {
    animation-name: one;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}