body {
    background-color: burlywood;
}
#form-field {
    display: block;
    background-color: beige;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
h1 {
    text-align: center;
    padding-top: 5px;
}
#select {
    display: block;
    margin: 15px 190px;
    
}
#button {
    margin: 10px 225px;
}
label {
    margin-left: 15px;
    font-size: 18px;
}
#res {
    font-family: monospace;
    font-size: 25px;
    padding-left: 235px;
    
}